@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap");

* {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #2f0c37;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.header-container {
  text-align: center;
  padding: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  background-color: #f7a619;
}

.form-text {
  margin: 25px;
}

.button {
  border: solid 1px #f40175;
  color: #f40175;
  border-radius: 25px;
  margin: 15px;
  background-color: white;
  padding: 10px 25px 10px 25px;
  font-size: 15px;
  cursor: pointer;
}
.button:hover {
  color: white;
  background-color: #f40175;
}

.success-message {
  text-align: center;
  font-size: 20x;
  color: #f40175;
}

.show-password-text {
  padding-left: 10px;
  font-size: 13px;
}

.error-message {
  color: red
}

.small-text{
  font-size: 13px;
  color: #f40175;
}